
<div id="login" fxLayout="row">
  <div class="bg" fxFlex="40">
    <div class="bg-content">
      <h3>Get things done with the IMPRATIO management suite.</h3>
      <p>
        Access to the most powerful admin platform in the commercial industry.
        <br/>
        <br/>
        <br/> 
        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
      </p>
    </div>
  </div>

  <div class="login-form" fxFlex>  

    <div class="form-content">
      <form class="form">
        <img class="logo" src="/Users/cj/Desktop/electronJS/tonia/src/assets/logo.png" alt=""/>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Enter your username</mat-label>
          <input matInput placeholder="Username"/>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput placeholder="Password"/>
        </mat-form-field>
        <div class="button">
          <!-- <a mat-button mat-stroked-button routerLink="/dashboard" routerLinkActive="active">Login</a> -->
          <button mat-stroked-button color="primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>