
<div id="login" fxLayout="row">
  <div class="bg" fxFlex="28">
    <div class="bg-content">
      
    </div>
  </div>

  <div class="login-form" fxFlex>
    <div class="form-content">
      <form class="form">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Enter your username</mat-label>
          <input matInput placeholder="Username"/>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input matInput placeholder="Password"/>
        </mat-form-field>
        <div class="button">
          <button mat-stroked-button color="primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>