<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Add New Staff Member</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label for="inputFirstname" class="label col-md-2 col-form-label">Firstname</label>
            <div class="col-md-10">
              <input type="text" nbInput fullWidth autofocus id="inputFirstname" shape="semi-round" placeholder="Firstname">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputLastname" class="label col-md-2 col-form-label">Lastname</label>
            <div class="col-md-10">
              <input type="text" nbInput fullWidth id="inputLastname" shape="semi-round" placeholder="Lastname">
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-md-2 col-md-10">
              <button type="submit" nbButton shape="semi-round" status="primary">Submit</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
    
  </div>
</div>